<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/components :: html-head"></head>
<body>
<div th:insert="fragments/components :: navbar"></div>
<b>Are you sure you want to delete Account?</b>

<table class="table table-dark table-stripped">
    <tr>
        <td scope="row" th:text="${account.name}"></td>
        <td scope="row" th:text="${account.color}"></td>
        <td scope="row" th:text="${account.amount}"></td>
        <td scope="row" th:text="${account.expenditure}"></td>
        <td>
            <form action="#" th:action="@{/account/delete}" th:object="${account}" method="post">
                <input type="hidden" th:field="${account.id}">
                <p><input type="submit" value="Yes, Delete" /> </p>
            </form>
        </td>
        <td><a th:href="@{'/account/all-accounts/' + ${account.id}}">No, Go Back</a></td>
    </tr>
</table>

<div th:insert="fragments/components :: bootstrap-js"></div>


</body>
</html>